@import url("//hello.myfonts.net/count/2dde59");

body {
	font-family: 'VAGRoundedLTPro-Light';
	color: #383838;
}

a {
	font-family: monospace;
	font-size: 0.9rem;
	color: blue;
}

.pre {
	width: 90%;
	white-space: pre-wrap;
	color: darkGray;
	font-family: monospace;
}

.prop {
	color: blue;
	font-family: monospace;
}

h1 {
	border-bottom: 1px solid #ececec;
	margin-top: 0;
}

h2 {
	margin-bottom: 0.3rem;
}

h2 .no {
	font-size: 75%;
	color: #ff5009;
}

.pathparam {
	color: darkGray;
	font-weight: normal;
}

.link {
	color: blue;
	font-family: monospace;
}

.api {
	padding: 0 1rem;
}

.apidesc {
	padding: 0 0 1rem 1.7rem;
	font-size: 0.9rem;
	margin-bottom: 1rem;
	border-bottom: solid 1pt #ececec;
}

.success {
	color: green;
}

.failure {
	color: red;
}

.logo-svg img {
	position: relative;
	top: 1.3rem;
    height: 4rem;
}

.links {
	float: right;
	padding: 0 3rem;
	font-weight: normal;
}