@import url("//hello.myfonts.net/count/2dde59");

body {
	font-family: 'VAGRoundedLTPro-Light';
	color: #383838;
}

a {
	font-family: monospace;
	font-size: 0.9rem;
	color: blue;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

.showhide {
	color: orange;
	display: inline-block;
	padding: 0 0.3rem;
	text-decoration: underline;
	font-size: 90%;
}

.pre {
	width: 90%;
	white-space: pre-wrap;
	color: gray;
	font-family: monospace;
}

.examplejson {
	margin: 0.3rem 0 0 0;
}

.jsonview {
	color: #ff5009;
	font-family: monospace;
}

.prop, .jsonname {
	color: blue;
}

.jsonstring {
	color: rgb(150,150,150);
}

.jsonnumber {
	color: rgb(100,100,100);
}

.jsonboolean {
	color: rgb(70,70,70);
}

.jsonobject, .jsonarray {
	padding-left: 0.3rem;
}

.jsonobject:before {
	content: " ";
	display: block;
	width: 1rem;
}

h1 {
	border-bottom: 1px solid #ececec;
	margin-top: 0;
}

h2 {
	margin: 0.3rem 0;
}

h2 .no {
	display: inline-block;
	width:1rem;
	font-size: 75%;
	color: lightGray;
}

.method {
	display: inline-block;
	width: 3.8rem;
	font-weight: normal;
	font-size: 75%;
	padding: 0 0.1rem;
}

.GET {
	color: green!important;
} 

.POST {
	color: magenta!important;
}

.PUT {
	color: blue!important;
}

.DELETE {
	color: red!important;
}

.pathparam {
	color: rgb(100,100,100);
	font-weight: normal;
	font-size: 90%;
}

.link {
	color: blue;
	font-family: monospace;
}

.api {
	padding: 0 2rem;
}

.apidesc {
	padding: 0 0 0.5rem 5.3rem;
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
	border-bottom: solid 1pt #ececec;
}

.success {
	color: green;
}

.failure {
	color: red;
}

.logo-svg img {
	position: relative;
	top: 1.3rem;
    height: 4rem;
    left: 0.95rem;
}

.links {
	float: right;
	padding: 0 3rem;
	font-weight: normal;
}